.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);

  z-index: 15;
}

.popup {
  padding: 25px 100px;

  border-radius: 25px;

  font-weight: bold;
  background-color: var(--primary-light-bg-color);
  color: var(--primary-dark-color);

  position: relative;
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.title {
  margin-bottom: 20px;
}

.title h3 {
  margin: 0;
  padding: 0;
  max-width: 600px;
  font-size: 3em;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.card img {
  display: block;
  width: auto;
  height: auto;

  margin-right: 50px;
  margin-bottom: 25px;

  box-shadow: 0 0 10px 2px var(--primary-dark-bg-color);
}

.info {
  max-width: 300px;
}

@media (max-width: 890px) {
  .popup {
    padding: 5px 20px;
  }

  .info {
    max-width: 200px;
  }
}

@media (max-width: 630px) {
  .info {
    max-width: 100%;
  }
}
