.pages {
  margin: 0 10px;
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-self: center;

  position: fixed;
  bottom: 10px;

  background-color: rgba(255, 255, 255, .5);
  border-radius: 25px;

  opacity: .25;
  transition: opacity .25s;
}

.pages:hover {
  opacity: 1;
}
